* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.hero {
    height: 100%;
    background-color: #4565f1;
    color: white;
    }

.container {
    width: 1260px;
    margin: 0 auto;
    display: flex;
    /* border: solid 2px red; */
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 20px;
    /* border: solid red 2px; */
}

.logo img{
    margin-top: 20px;
    max-height: 50px;
    /* border: solid red 2px; */
}

.menu {
    display: flex;
    gap: 24px;
    font-size: 20px;
}

.menu a:hover {
    color: #ffffff50;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero a {
    color: #e5e7eb;
}

.hero-content .container {
    display: flex;
    height: 700px;
}

.hero-content h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 24px;
    font-weight: 200;
    color: #e5e7eb;
    line-height: 1.35;
}

.hero-left-align {
    display: flex;
    flex: 1;
    /* border: solid 2px #3882f6; */
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin: auto 60px auto 0px;
    align-items: flex-start;
    /* border: solid yellow 2px; */
}

.hero-headline p {
    margin-top: 16px;
}

.hero-text .button {
    margin-top: 120px;
    display: flex;
}

.hero-text .button .primary-button {
    color: #000000;
    background-color: white;
    padding: 16px 48px;
    border-radius: 8px;

}

.hero-text .button .primary-button:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 16px 48px;
    border-radius: 8px;

}

.hero-text .button .secondary-button {
    color: white;
    border: solid 2px white;
    padding: 16px 48px;
    border-radius: 8px;
    margin-left: 20px;

}

.hero-text .button .secondary-button:hover {
    color: #ffffff80;
    border: solid 2px #ffffff80;
    padding: 16px 48px;
    border-radius: 8px;
    margin-left: 20px;

}

.placeholder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    /* border: greenyellow 2px solid; */
}

.placeholder img {
    max-width: 90%;
    border-radius: 10px;
}










.second-section .container {
    margin: 80px auto 80px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* border: red solid 2px; */
}

.text {
    font-size: 40px;
    font-weight: 400;
}

.text .brown-text {
    margin-top: 30px;
}

.three-boxes {
    /* margin-top: 80px; */
    display: flex;
    gap: 24px;
}

.three-boxes h2 {
    font-size: 30px;
    padding-bottom: 16px;
    font-weight: 400;
}

.box1 p {
    font-size: 20px;
    color: #6b665F;
}

.three-boxes a {
    color: black;
    margin-top: 100px;
}

.box1 {
    background-color: #f7f1e6;
    padding: 32px;
    border-radius: 20px;
    height: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1:hover {
    background-color: #4565f1;
    color: white;
    padding: 32px;
    border-radius: 20px;
    height: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box1:hover p {
    font-size: 20px;
    color: white;
}

.box1:hover .learn-more a {
    color: white;
}



.line {
    width: 100%;
    height: 2px;
    background-color: white;
}

.second-section .line {
    width: 100%;
    height: 2px;
    background-color: #dedbd5;
}

.second-section-third-part {
    display: flex;
    gap: 60px;
}

.second-section-third-part .left-section {
    font-size: 40px;
    font-weight: 400;
}

.second-section-third-part .right-section h2{
    font-size: 20px;
    font-weight: 400;
}

.second-section-third-part .right-section {
    display: flex;
    flex-direction: column;
}

.second-section-third-part a {
    text-decoration: none;
    color: #e5e7eb;
}

.second-section-third-part .secondary-button {
    color: black;
    border: solid 2px black;
    padding: 16px 48px;
    border-radius: 8px;
    margin-left: 20px;

}

.second-section-third-part .secondary-button:hover {
    color: #4565f1;
    border: solid 2px #4565f1;
    padding: 16px 48px;
    border-radius: 8px;
    margin-left: 20px;
}

.second-section-third-part .primary-button {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 16px 48px;
    border-radius: 8px;

}

.second-section-third-part .primary-button:hover {
    color: white;
    background-color: #4565f1;
    padding: 16px 48px;
    border-radius: 8px;

}

.second-section-third-part .button {
    margin-top: 60px;
}










.sperator-headline {
    margin-top: 80px;
}


.third-section {
    width: 1452px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #f6f1e7, #e8dcca);
    margin-top: 80px;
    padding: 96px 0px 96px 0px;
    border-radius: 20px;
}

.third-section-first-part {
    display: flex;
    gap: 60px;
}

.third-section .container {
    flex-direction: column;
    /* border: solid blue 2px; */
    row-gap: 60px;
}

.left-section {
    flex: 1;
    /* border: solid red 2px; */
}

.right-section {
    flex: 1;
    /* border: solid red 2px; */
}

.third-section .right-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.grid-one {
    height: auto;
    width: 50%;
    padding-right: 32px;
}

.third-section h2 {
    font-size: 30px;
    padding-bottom: 16px;
    font-weight: 400;
}

.grid-one p {
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
}

.brown-text {
    color: #6b665F;
}

.third-section .black-text {
    margin-top: 30px;
}

.third-section-second-part {
    display: flex;
    gap: 60px;
}

.box2 {
    flex: 1;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    /* border: solid red 2px; */
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    padding: 50px;
    /* border: solid red 2px; */
}

.box2 p {
    font-size: 20px;
    margin-top: 16px;
    /* font-weight: 300; */
}

.box2 h1 {
    font-weight: 400;
    font-size: 40px;
}

.box2 img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.box2 a {
    font-size: 20px;
    color: black;
}









.footer {
    background-color: #191919;
    padding-top: 80px;
    color: white;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
}

.footer-first-section {
    width: 360px;
    display: flex;
    flex-direction: column;
    /* border: solid red 2px; */
}

.footer .logo {
    margin-bottom: 90px;
    /* border: solid yellow 2px; */
}

.footer-first-section p {
    font-size: 20px;
    color: #ffffff80;
    display: flex;
    flex-direction: column;
    /* border: solid green 2px; */
}

.footer-first-section .button {
    display: flex;
    margin-top: 30px;
    /* border: solid purple 2px; */
}

.footer a {
    color: white;

}

.footer .footer-end a {
    color: #ffffff80;

}

.footer .footer-end a:hover {
    color: #ffffff;

}

.footer .secondary-button {
    color: white;
    border: solid 2px white;
    padding: 16px 48px;
    border-radius: 8px;
}

.footer .secondary-button:hover {
    color: #ffffff80;
    border: solid 2px #ffffff80;
    padding: 16px 48px;
    border-radius: 8px;
}

.footer-second-section {
    display: flex;
    gap: 30px;
    margin-bottom: 90px;
    /* border: solid red 2px; */
}

.footer-menu {
    flex: 1;
    margin-left: 80px;
}

.footer-second-section h3 {
    font-size: 24px;
    color: #ffffff80;
    font-weight: 400;
    margin-bottom: 40px;
}

.footer-second-section li {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer-second-section a:hover {
    color: #6b665F;
}










.footer-end-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    color: #6b665F;
}

.footer-end .line {
    margin: 24px auto 24px auto;
    background-color: #6b665F;
}

.footer-end-content ul {
    display: flex;
    gap: 32px;
}
